.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/OakCraft Logo email.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  opacity: 1;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
